*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: #FEFEFE; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.2rem; }

p, li, a {
  font-size: 1.8rem; }

ul {
  list-style: none; }

a:link, a:visited {
  text-decoration: none;
  color: #d61d4e;
  font-weight: 600;
  font-size: inherit; }

a:hover, a:active {
  color: #a9173e; }

.header {
  width: 100%; }

.navbar {
  width: 100%;
  background-color: #40a798;
  display: flex;
  align-items: center;
  padding: 4rem 3rem; }
  .navbar__logo {
    margin-right: 10%;
    color: #ffeaa5;
    display: flex;
    align-items: baseline; }
    .navbar__logo span {
      margin-left: 1.5rem; }
      .navbar__logo span i {
        font-size: 3rem; }
  .navbar__menu {
    display: flex; }
    .navbar__menu-item {
      padding: 0 2rem; }
      .navbar__menu-item a {
        color: #FEFEFE;
        font-weight: normal;
        transition: all .3s; }
        .navbar__menu-item a:hover {
          color: #ffeaa5; }
      .navbar__menu-item .active {
        color: #ffeaa5; }

.hero {
  height: 60vh;
  background-color: #226b80;
  display: flex; }
  .hero__left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem; }
    .hero__left-desc {
      color: #FEFEFE;
      font-size: 3.5rem;
      font-weight: normal; }
  .hero__right {
    background-image: url(../img/kakor_front.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 100%; }

.whatson {
  width: 80%;
  margin: 6rem auto; }
  .whatson__title {
    color: #226b80;
    font-weight: bold;
    margin-bottom: 2rem; }
  .whatson__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .whatson__box {
    margin-bottom: 3rem; }
    .whatson__box-img {
      background-size: cover;
      background-position: center;
      height: 25vh;
      margin-bottom: 1.5rem;
      box-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.5); }
    .whatson__box-text {
      font-size: 1.4rem;
      margin-bottom: .5rem; }
    .whatson__box-link:link {
      font-size: 1.6rem; }
  .whatson__box1 {
    width: 30%; }
    .whatson__box1 .whatson__box-img {
      background-image: url(../img/kaka_glass.jpg); }
  .whatson__box2 {
    width: 68%; }
    .whatson__box2 .whatson__box-img {
      background-image: url(../img/tonfiskmacka.jpg); }
  .whatson__box3 {
    width: 70%; }
    .whatson__box3 .whatson__box-img {
      background-image: url(../img/burek.jpg); }
  .whatson__box4 {
    width: 28%; }
    .whatson__box4 .whatson__box-img {
      background-image: url(../img/kaffekopp_hjarta.jpg); }
  .whatson__box5 {
    width: 100%; }
    .whatson__box5 .whatson__box-img {
      background-image: url(../img/rakmacka.jpg); }

.frontinfo {
  width: 80%;
  margin: 6rem auto; }
  .frontinfo__title {
    color: #226b80;
    font-weight: bold;
    margin-bottom: 2rem; }
  .frontinfo__wrapper {
    display: flex;
    justify-content: space-between; }
  .frontinfo__box {
    width: 30%;
    box-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.5); }
    .frontinfo__box-img {
      height: 20vh;
      background-size: cover;
      background-position: center; }
    .frontinfo__box-title {
      margin-bottom: 2rem; }
    .frontinfo__box-text {
      font-size: 1.4rem;
      margin-bottom: 2rem; }
    .frontinfo__box-link:link, .frontinfo__box-link:visited {
      display: inline-block;
      background-color: #d61d4e;
      color: #FEFEFE;
      font-size: 1.8rem;
      font-weight: bold;
      padding: 1.5rem 3rem;
      transition: all .3s; }
    .frontinfo__box-link:hover, .frontinfo__box-link:active {
      background-color: #a9173e; }
    .frontinfo__box .info {
      padding: 3rem; }
    .frontinfo__box:nth-child(1) {
      background-color: #ffeaa5; }
      .frontinfo__box:nth-child(1) .frontinfo__box-img {
        background-image: url(../img/delikatess.jpg); }
      .frontinfo__box:nth-child(1) .frontinfo__box-title {
        color: #226b80; }
      .frontinfo__box:nth-child(1) .frontinfo__box-text {
        color: #226b80; }
    .frontinfo__box:nth-child(2) {
      background-color: #40a798; }
      .frontinfo__box:nth-child(2) .frontinfo__box-img {
        background-image: url(../img/burek_slice.jpg); }
      .frontinfo__box:nth-child(2) .frontinfo__box-title {
        color: #FEFEFE; }
      .frontinfo__box:nth-child(2) .frontinfo__box-text {
        color: #FEFEFE; }
    .frontinfo__box:nth-child(3) {
      background-color: #333131; }
      .frontinfo__box:nth-child(3) .frontinfo__box-img {
        background-image: url(../img/basarer.jpg); }
      .frontinfo__box:nth-child(3) .frontinfo__box-title {
        color: #FEFEFE; }
      .frontinfo__box:nth-child(3) .frontinfo__box-text {
        color: #FEFEFE; }

.footer {
  height: 30vh;
  background-color: #226b80;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__text {
    color: #ffeaa5;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem; }
    .footer__text span {
      color: #d61d4e; }
  .footer__menu {
    display: flex; }
    .footer__menu-item {
      padding: 1rem 2.5rem;
      font-size: 1.6rem; }
      .footer__menu-item a:link, .footer__menu-item a:visited {
        color: #ffeaa5;
        transition: all .3s; }
      .footer__menu-item a:hover, .footer__menu-item a:active {
        color: #d61d4e; }
