/*! Sidfot */
.footer {
    min-height: 20vh;
    background-color: $darkblue;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        color: $yellow;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3rem;

        span {
            color: $red;
        }

        a {
            border-bottom: 1px dotted $red;
        }
    }

    /*! Fotmenyn */
    &__menu, 
    #menu-fotmeny {
        display: flex;
        margin-bottom: 2rem;

        @include mediaquery(530px) {
            flex-direction: column;
        }

        &-item, 
        .menu-item {
            padding: 1rem 2.5rem;
            font-size: 1.6rem;

            @include mediaquery(500px) {
                padding: 0;
                margin-bottom: .5rem;
              }

            a:link, 
            a:visited {
                color: $yellow;
                transition: all .3s;
            }

            a:hover, 
            a:active {
                color: $red;
            }
        }
    }

    &__menu {
        // Gömmer initiala menyn (som ej är dynamisk)
        display: none;
    }

    &__copy {
        color: $white;
        font-size: 1.4rem;
    }
}