/*! Huvudmenysektionen */
.header {
    width: 100%;
    position: fixed;
    z-index: 20;
}

/*! Huvudmenyn */
.navbar {
    width: 100%;
    height: 15vh;
    background-color: $cyan;
    display: flex;
    align-items: center;
    padding: 4rem 3rem;
    transition: all .3s;

    &__logo {
        /*! Sidloggan */
        margin-right: 3rem;
        color: $yellow;
        align-items: baseline;

        @include mediaquery(950px) {
          font-size: 2rem;
        }

        span {
            margin-left: 1.5rem;

            i {
                font-size: 3rem;
            }
        }
    }



    &__menu, 
    #menu-huvudmeny {
        /*! Menyn */
        display: flex;

        @include mediaquery(600px) {
          display: none;
        }

        &-item, .menu-item {
            padding: 0 2rem;

            @include mediaquery(850px) {
                padding: 0 1rem;
            }

            a {
                color: $white;
                font-weight: normal;
                transition: all .3s;

                &:hover {
                    color: $yellow;
                }
            }

            .active {
                color: $yellow;
            }
        }

        .current-menu-item a {
            color: $yellow;
        }
    }

    &__menu {
        display: none;
    }
}

/*! En klass som läggs till med JS när användaren scrollar ner för sidan */
.shrinknavbar {
    padding: 1rem 3rem;
    height: 7vh;
    box-shadow: 1px 1.5px 2px rgba(0, 0, 0, .5);
}