.ourmenu {
    display: flex;
    justify-content: space-between;
    padding: 6rem;
    padding-top: calc(15vh + 4rem);

    @include mediaquery(900px) {
        padding: 4rem;
        padding-top: calc(15vh + 4rem);
    }

    @include mediaquery(800px) {
        padding: 2rem;
        padding-top: calc(15vh + 4rem);
    }

    @include mediaquery(850px) {
      flex-direction: column;
      align-items: center;
    }

    &__left {
        width: 55%;

        @include mediaquery(850px) {
          width: 90%;
        }

        @include mediaquery(500px) {
          width: 95%;
        }

        @include mediaquery(400px) {
          width: 100%;
        }
    }

    &__right {
        width: 40%;

        @include mediaquery(850px) {
            width: 90%;
        }

        @include mediaquery(500px) {
            width: 95%;
        }
  
          @include mediaquery(400px) {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__list {

        @include mediaquery(850px) {
          margin-bottom: 3rem;
        }

        &-item a {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 0;
            color: $black;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background-color: rgba(#EEE, .5);
            }

            .wrap {
                display: flex;
            }

            .attachment-thumbnail {
                height: 7rem;
                width: 7rem;
                margin-right: 2.5rem;
                object-fit: cover;
            }

        }

        &-item {

            &--img {
                background-image: url(./img/burek_slice_thumbnail.jpg);
                background-size: cover;
                background-position: center;
                height: 7rem;
                width: 7rem;
            }

            &--info {
                width: 50%;

                h2 {
                    font-size: 1.8rem;
                    margin-bottom: 1.5rem;
                }

                p {
                    font-size: 1.4rem;
                }
            }

            &--price {
                margin: 1.5rem;
                color: $red;
                width: 20%;
                text-align: right;

                @include mediaquery(800px) {
                  margin: .5rem;
                }
            }
        }

        &-item:not(:last-child) {
            border-bottom: .5px solid rgba(#333, .2);
        }
    }

    &__currentproduct {
        margin-bottom: 3rem;

        @include mediaquery(850px) {
          margin-bottom: 5rem;
        }

        &-bigtitle {
            font-size: 2.6rem;
            margin-bottom: 1rem;
        }

        .attachment-medium_large {
            height: 25vh;
            margin-bottom: 1.5rem;
            width: 100%;
            object-fit: cover;
        }

        &-img {
            background-image: url(./img/kaffe_tarta_medium.jpg);
            background-position: center;
            background-size: cover;
            height: 25vh;
            margin-bottom: 1.5rem;
        }

        &-desc {
            display: flex;

            .icon {
                color: $red;
                margin-right: .5rem;
            }
        }

        &-date, &-user {
            font-size: 1.6rem;
            color: rgba(#111, .7);
        }

        &-date {
            margin-right: 1.5rem;
        }

        &-info {
            width: 70%;
        }

        &-title {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
        }

        &-text, p {
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }

        &-link {

            &:link, &:visited {
                padding: 1rem 2rem;
                background-color: $red;
                color: $white;
                font-size: 1.6rem;
                transition: all .3s;
            }

            &:hover, &:active {
                background-color: darken($red, 10%);
            }
        }


        &-price {
            margin-top: 1.5rem;
            text-align: right;
            width: 20%;
            color: $red;

            @include mediaquery(900px) {
              width: 25%;
            }
        }
    }

    &__latest {
        @include mediaquery(850px) {
            margin-bottom: 5rem;
        }

        &-title {
            margin-bottom: 1rem;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 0;

            .attachment-thumbnail {
                width: 7rem;
                height: 7rem;
                margin-right: 1.5rem;
            }

            &--img {
                width: 7rem;
                height: 7rem;
                background-image: url(./img/burek_slice_thumbnail.jpg);
                background-position: center;
                background-size: cover;
            }

            &--info {
                width: 65%;
                display: flex;

                @include mediaquery(1000px) {
                  width: 60%;
                }
            }

            &--date {
                font-size: 1.6rem;
                margin-bottom: 1rem;

                .icon {
                    color: $red;
                    margin-right: .5rem;
                }
            }

            &--title {
                font-size: 1.8rem;
                margin-bottom: .5rem;

                @include mediaquery(950px) {
                    font-size: 1.6rem;
                  }
            }

            &--desc {
                font-size: 1.4rem;
            }

            &--price {
                h1 {
                    color: $red;
                    text-align: right;
                    margin-bottom: 1.5rem;
                }

                a {
                    padding: .5rem 1.5rem;
                    background-color: $red;
                    color: $white;
                    font-size: 1.6rem;
                    transition: all .3s;

                    &:hover {
                        background-color: darken($red, 10%);
                    }
                }
            }
        }

        &-item:first-child {
            padding-top: 0;
        }

        &-item:not(:last-child) {
            border-bottom: .5px solid rgba(#333, .2);
        }
    }
}

